.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url("https://image.freepik.com/free-vector/geometric-shapes-neon-lights-background_23-2148427029.jpg");
  background-size: cover;
}

form{
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
    margin:0px;
}

h1{
    color: rgb(200, 27, 154);
    text-align: center;
}

button{
    width: 100%;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: rgb(176, 32, 201);
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
}